In [58]:
#Variables and data types
name = "tripty"
print(name)
print(type(name))

#Expression Execution
a,b = 2, 4
text = "Hello "
print(a * text * (b-2))

#Floor
c,d = -5, -2
e = c//d
print("Floor value of c,d: ",e)

#Remainder
re = c%d
print("Remainder of c,d: ",re)

#Input
na = input("Name: ")
age = int(input("Age: "))
print("My name is:",na,"and my age is:",age)

#Boolean (Not>And>Or)
bool = not True and False or True
print(bool)

tripty
<class 'str'>
Hello Hello Hello Hello
Floor value of c,d:  2
Remainder of c,d:  -1
My name is: Sanuar and my age is: 24
True

In [60]:
#Conditional Statement
light = input("Light: ")
if(light == "red"):
    print("Stop")
elif(light == "green"):
    print("Go")
elif(light == "yellow"):
    print("Look")
else:
    print("Light is Broken")
    

#Grade
grade = int(input("Marks: "))
if(grade >= 90):
    print("A+")
elif(grade >= 85 and grade < 90):
    print("A")
elif(grade >= 80 and grade < 85):
    print("B+")
elif(grade >= 75 and grade < 80):
    print("B")
elif(grade >= 70 and grade < 75):
    print("C+")
elif(grade >= 65 and grade < 70):
    print("C")
elif(grade >= 60 and grade < 65):
    print("D+")
elif(grade >= 50 and grade < 60):
    print("D")
else:
    print("F")

Stop
B

In [62]:
#Single line if (Ternary operator)
food = input("Food: ")
eat = "yes" if food == "cake" else "NO"
print(eat)

fruit = input("Fruit: ")
print("Yes") if fruit == "mango" else print("No")

#Clever if
ag = int(input("Age:"))
vote = ("Not Allowed","Allowed") [ag >= 18] #No is false value and Yes is true value
print(vote,"for vote")

salary = int(input("Salary:"))
tax = salary*(.1,.2) [salary>=50000]
print(salary,"Salary =",tax,"Tax")

yes
Yes
Allowed for vote
50000 Salary = 10000.0 Tax

In [63]:
#Type casting
a1 = int("2")
print(type(a1))

<class 'int'>

In [64]:
#Chapter 2
#String and coditional statement
#String is a sequence of datatype
str = "This is sanuar \nage 24 \nIam a data \tscientist" # \n use for new line, \t use for tab or space
print(str)
str1 = "Sanuar"
print(str1[0])
print(str1[0:4])
print(str1[:4])
print(str1[2:])
print(str1[0:len(str1)])
print(str1[:len(str1)])
print(str1[:-2])

str2 = "iam a coder"
print(str2.endswith("er"))
print(str2.capitalize()) # 1st letter will be capital
print(str2.replace("coder","programmer"))
print(str2.find("c")) #postion of c
print(str2.count("r"))

This is sanuar
age 24
Iam a data 	scientist
S
Sanu
Sanu
nuar
Sanuar
Sanuar
Sanu
True
Iam a coder
iam a programmer
6
1

In [65]:
#Nesting condition statement
sal = 5000
if(sal >= 4000):
    if(sal > 5000):
        print("No")
    else:
        print("Yes")
else:
    print("Yes/No")

Yes

In [74]:
#Chapter 3 (Lists and tuples)
#Lists (Mutable)
marks = [76, 78, 91, 56, 72]
print(marks)
print(marks[0])
print(marks[1])
print(marks[2])
print(len(marks))
print(type(marks))

id = ["sanuar", 21, "Habigonj"]
id[0]
print(id[0:2])

list1 = [2,1,7,4]
list1.append(5)
print(list1)
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)
list1.insert(1,9) # index 1 value will be 9
print(list1)
list1.remove(9)
print(list1)
list1.pop(2)
print(list1)

[76, 78, 91, 56, 72]
76
78
91
5
<class 'list'>
['sanuar', 21]
[2, 1, 7, 4, 5]
[1, 2, 4, 5, 7]
[7, 5, 4, 2, 1]
[7, 9, 5, 4, 2, 1]
[7, 5, 4, 2, 1]
[7, 5, 2, 1]

In [75]:
#Tuples (Immutable)
tup = ([1,3,5], 5, 7, 0, 34, 76, 5, 6, 5, 2, 3 ,1 ,5)
print(tup)
print(type(tup))
tup[0]
print(tup.index(0))
print(tup.count(5))

#list input from user
movie = []
movie1 = input("Movie 1:")
movie2 = input("Movie 2:")
movie3 = input("Movie 3:")
movie.append(movie1)
movie.append(movie2)
movie.append(movie3)
print(movie)
print(type(movie))

#Palindrome 
list1 = []
first = int(input("First value:"))
sec = int(input("Second value:"))
third = int(input("Third value:"))
list1.append(first)
list1.append(sec)
list1.append(third)
copy_list1 = list1.copy() #Copy all value of list1 to the copy_list
copy_list1.reverse()

if(list1 == copy_list1):
    print(list1,"is Palindrome")
else:
    print(list1,"is not Palindrome")

([1, 3, 5], 5, 7, 0, 34, 76, 5, 6, 5, 2, 3, 1, 5)
<class 'tuple'>
3
4
['Money heist', '365 Days', 'One night stand']
<class 'list'>
[1, 3, 1] is Palindrome

In [ ]:
#Dictionary (Mutable)
dic = {
    "name":"Sanuar",
    "age":23,
    "marks":[90,85,99,96,95]
}
print(dic)
print(type(dic))
print(dic["name"])
dic["surname"] = "Hossain"
print(dic)

null_diet = {}
print(null_diet)
print(type(null_diet))
null_diet["name"] = "Banana"
print(null_diet)

#Nested Dictionaries
student = {
    "name":"Sanuar",
    "ages":24,
    "subject":{
        "phy":97,
        "che":92,
        "bio":91
    }
}
print(student)
print(student["subject"]["phy"])

#dictionaries Method
print(student.keys())
print(list(student.keys()))
print(len(student))
print(student.values())
print(list(student.values()))
print(student.items())
print(list(student.items()))

#dict.get("keys") -->when error available then output will be none
print(student.get("name2"))

#dict.update(newDict)
student.update({"cgpa":3.99})
print(student)
credit = {"credit":118}
student.update(credit)
print(student)

In [77]:
#Set (Unordered, each element unique and immutable)
#list and dictionaries can't add in set
#bool,int, float, string, tuple are possible to add in set
nums = {2,3,5,8,1,2,4,5,6,2,2}
print(nums) #Ignore duplicate value
collect = {1,2,2,2,"Hello", "World"}
print(collect)
print(len(collect))

#Empty set
coll = set()
print(type(coll))

#Set methods
coll.add(2)
coll.add(3)
print(coll)
coll.remove(3)
print(coll)
coll.add("Sanuar")
coll.add((1,2,3))
print(coll)
print(coll.pop())
print(coll)

#Union & intersection method
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 8}
{1, 2, 'World', 'Hello'}
4
<class 'set'>
{2, 3}
{2}
{2, (1, 2, 3), 'Sanuar'}
2
{(1, 2, 3), 'Sanuar'}
{1, 2, 3, 4, 5}
{3}

In [78]:
#Loops
#While loops
count = 1
while count <= 5:
    print("Hello")
    count+=1
    
n = 3
i = 1
while i <= 5:
    print(i*n)
    i+=1
    
nums = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(nums):
    print(nums[idx])
    idx += 1
    
x = 36
i = 0
while i < len(nums):
    if(nums[i] == x):
        print("Found at index:",i)
    i += 1 
    
#Break
i = 1
while i <= 5:
    print(i)
    if(i == 2):
        break
    i += 1 
    
#Continue
i = 0
while i<=5:
    if(i==2):
        i+=1
        continue
    print(i)
    i+=1
    
#Odd number
i = 0
while i<=10:
    if(i%2 == 0):
        i+=1
        continue
    print(i)
    i+=1

Hello
Hello
Hello
Hello
Hello
3
6
9
12
15
1
4
9
16
25
36
49
64
81
100
Found at index: 5
1
2
0
1
3
4
5
1
3
5
7
9

In [79]:
#For loop
str = "Sanuar"
for i in str:
    print(i)
else:
    print("End")
    
for i in str:
    if(i == "a"):
        print("'a' found in index:")
        break
    print(i)
    
#range(start,stop,step)
for i in range(1, 10, 2):
    print(i)
print("...............")
  
seq = range(5)
for i in seq:
    print(i)
print(".....................")

for i in range(1,11):
    print(i)
    
print(".................")   
n=int(input("Number:"))
for i in range(1,11):
    print(i*n)

S
a
n
u
a
r
End
S
'a' found in index:
1
3
5
7
9
...............
0
1
2
3
4
.....................
1
2
3
4
5
6
7
8
9
10
.................
3
6
9
12
15
18
21
24
27
30

In [80]:
#Pass statement(for) --> The 'pass' statement in Python is a placeholder for future code
for i in range(5):
    pass

if i>5:
    pass

In [83]:
#Calculate Factorial using for loop
n = int(input("Enter a positive number:"))
fact = 1
for i in range(1,n+1):
    fact *= i
print(n,"factorial =",fact)

5 factorial = 120

In [84]:
#Function
def cal_sum(a,b):
    sum = a+b
    print(sum)
    return sum
cal_sum(5,6)

def sum2(a,b):
    return a+b
sum = sum2(2,3)
print(sum)

def avg(a,b,c):
    sum = a+b+c
    avg = sum/3
    return avg
avg = avg(2,3,4)
print(avg)

cities = ["Sylhet","Dhaka","Barishal","Chittgong","Cumilla","Rangpur"]
def print_list(list):
    for item in list:
        print(item,end=" ")
print_list(cities)
print()

#Find factorial using function
def cal_fact(n):
    fact = 1
    for i in range(1,n+1):
        fact *= i
    print("The factorial of",n,"is:",fact)
cal_fact(int(input("Enter a value:")))

11
5
3.0
Sylhet Dhaka Barishal Chittgong Cumilla Rangpur
The factorial of 6 is: 720

In [85]:
#Convert USD to TK using function
def convert(usd_val):
    tk = usd_val*117.3
    print(usd_val,"dollar =",tk,"Taka") 
convert(float(input("Enter the value of dollar:")))

5.0 dollar = 586.5 Taka

In [86]:
#Recursion (a function call itself repeatedly)
def show(n):
    if(n==0):
        return
    print(n)
    show(n-1)
show(5)

def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n * fact(n-1)
print("Factorial:",fact(5))

5
4
3
2
1
Factorial: 120